@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

/* ----------body---------- */
body {
    color: #333;
    font: 400;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* ---------nav--------- */
nav {
    padding: 20px;
}

nav h1 {
    margin-right: auto;
}

nav a {
    text-transform: capitalize;
}

nav a:hover {
    text-decoration: underline;
}

/* -------header-------- */
header h1 {
    font-size: 41px;
    font-weight: 700;
}

header img {
    width: 70%;
    margin-left: 30%;
}

/* -------h1234--------- */
h2 {
    font-weight: none;
}

h3 {
    font-size: 26px;
}

h4 {
    margin: 0;
    font-size: 51px;
    color: white;
    background-color: black;
    line-height: 100px;
    padding: 10px;
}

h2,
h3 {
    font-size: 20px;
    background-color: #fcee21;
}

h1,
h2,
h3 {
    color: black;
}

/* ------footer------- */
footer {
    height: 100px;
    padding: 10px;
    background-color: #fcee21;
}

footer h1 {
    font-size: 33px;
}

/* -------section------- */
section {
    width: 45%;
}

/* --------nav,footer------- */
nav h1,
footer h1 {
    font-family: "Coiny", cursive;
}

nav a,
footer a {
    margin-left: 20px;
    color: #7a7a7a;
    text-decoration: none;
}

/* ------main------ */
main {
    font-size: 21px;
}

/* -------aside------- */
aside img {
    height: auto;
    width: 50%;
}

footer,
main,
header,
aside {
    width: 100%;
}
/* -------ul-------- */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* -------ol-------- */
ol li{
    margin-bottom: 6%;
}
/* -------span------ */
span {
    color: red;
}
/* ------label------ */
label{
    display: block;
    margin-bottom: 5px;
}
/* ----input---- */
input{
    height: 40px;
}
input, textarea {
    width: 100%;
}
/* -----form----- */
form{
    margin: auto;
}
